
@{
    ViewData["Title"] = "Search";
    List<Question> SearchResults = (List<Question>)ViewData["SearchResults"];
}

<h1>Search</h1>

@foreach (Question q in SearchResults)
{
    <h3><a href="/QandA/Detail/@q.Id">@q.Title</a></h3>
    @if (q.Detail.Length > 100)
    {
        <div>@q.Detail.Substring(0, 100) ...</div>
    }
    else
    {
        <div>@q.Detail</div>
    }
    @q.Username
<div>Test</div>
}